h1 {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 1000%;
  font-weight: 700;
  text-align: center;
}

h2 {
  text-align: left;
  margin-bottom: 2%;
  font-family: 'Lobster', cursive;
  font-size: 400%;
  color: rgb(34,32,70);
}

h3{
  text-align: left;
  margin-bottom: 3%;
  font-family: 'Lobster', cursive;
  font-size: 250%;
  color: rgb(244, 152, 26);
}

p {
  color: black;
  margin-bottom: 2%;
  font-size: 120%;
  text-align: left;
  line-height: 110%;
}

.about, .producten, .voorstelling, .info{
  max-width: 60%;
  margin: auto;
  background-color: white;
  padding: 1%;
  border-radius: 10px;
  border: 5px solid rgb(244, 152, 26);
}

.producten{
  height: 65em;
}

.contact{
  background-color: white;
  float: left;
  margin: 0 1% 0 18.7%;
  padding: 1%;
  border-radius: 10px;
  border: 5px solid rgb(244, 152, 26);
  width: 16.5%;
}

.voorbeeld{
  background-color: white;
  float: left;
  padding: 1%;
  border-radius: 10px;
  border: 5px solid rgb(244, 152, 26);
  width: 40%;
}

.home{
  width: 5%;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.content{
  font-family: 'century gothic';
  text-align: center;
	font-size: 100%;
	color: white;
	letter-spacing: 1%;
	padding: 3% 0;
  background-image: url("patroon.png");
  background-size: 40%;
  box-shadow: 0 -5px 50px rgba(0, 0, 0, .7);
}

 .footer{
  height: 20em;
}

.parallax-inner img{
  display: block;
  margin: -10% auto;
  width: 35%;
}

.producten img{
  width: 32.2%;
  display: block;
  margin: auto;
  float: left;
  margin: 1em auto;
}

.producten img:nth-child(1), .producten img:nth-child(2), .producten img:nth-child(5), .producten img:nth-child(4){
  margin-right: 1em;
}

.producten img:nth-child(1),.producten img:nth-child(5), .producten img:nth-child(3){
  transform: rotate(3deg);
}

.producten img:nth-child(2),.producten img:nth-child(4), .producten img:nth-child(6){
  transform: rotate(-3deg);
}

.info img{
  width: 100%;
  margin-top: -12%;
}

.voorstelling img{
  width: 100%;
}

table, th, td {
  padding: 0.3em 1em 0.3em 0;
  color: black;
  text-align: left;
}

span{
  color: black;
  text-align: left;
  font-family: 'century gothic';
  font-size: 1em;
  font-weight: bold;
}

video{
  width: 100%;
}

/*PARALLAX*/

.parallax1{
  transition: background 0.75s ease-in-out;
	background: url("foto1.JPG")
	repeat fixed 50%;
  background-size: 100%;
}

.parallax2{
  background: url("foto2.JPG")
	repeat fixed 50%;
  background-size: 100%;
}

.parallax3{
  background: url("foto5.JPG")
	repeat fixed 50%;
  background-size: 100%;
}

.parallax4{
  background: url("foto9.JPG")
	repeat fixed 50%;
  background-size: 100%;
}
.parallax5{
  background: url("foto4.JPG")
	repeat fixed 50%;
  background-size: 100%;
}

.parallax6{
  background: url("foto7.JPG")
	repeat fixed 50%;
  background-size: 100%;
}

.parallax-inner{
  padding: 20% 20%;
  height: 100px;
}

/*DROPDOWN*/
.dropbtn {
    background-color: white;
    font-size: 100%;
    border: none;
    padding: 1em;
    font-family: 'century gothic';
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2%;
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 5%;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.banner{
  width: 100%;
  text-align: right;
  background-color: white;
  margin: 0 10% 0 0;
  font-family: 'century gothic';
}

.banner a{
  color: black;
  font-size: 120%;
  text-decoration: none;
  margin: 0.7em;
}

.banner a:hover{
  color: rgb(53,167,167);
}


/*SIZING*/

@media (max-width: 1900px){
  .producten{
    height: 62em;
  }
  .footer{
    height: 47em;
  }
}

@media (max-width: 1800px){
  .producten{
    height: 65em;
  }
  .footer{
    height: 48em;
  }
}

@media (max-width: 1600px){
  .producten{
    height: 55em;
  }
  .producten img{
    width: 32%;
    display: block;
    margin: auto;
    float: left;
    margin: 1em auto;
  }
}
@media (max-width: 1400px){
  .producten{
    height: 50em;
  }
  .producten img{
    width: 31%;
    display: block;
    margin: auto;
    float: left;
    margin: 1em auto;
  }
  .parallax1, .parallax2, .parallax3, .parallax4, .parallax5{
    background-size: cover;
  }
}
@media (max-width: 1200px){
  .producten{
    height: 45em;
  }
  .producten img{
    width: 31%;
    display: block;
    margin: auto;
    float: left;
    margin: 1em auto;
  }

  .about, .producten, .voorstelling, .info{
    max-width: 70%;
  }

  .contact{
    width: 26.5%;
    margin: 0 1% 0 13.5%;
  }
}

@media (max-width: 1000px){
  h1{
    font-size: 500%;
  }

  .producten{
    height: 38em;
  }
}

@media (max-width: 800px){
  .producten{
    height: 35em;
  }
}
